@charset "utf-8";
/* CSS Document */
.mynew-working-area{
	width:1080px;
	margin:auto;
}
.mynew-list{
	background-color:yellow;
	height:250px;
	width:290px;
	margin-top:5px;
	margin-left:20px;
	float:left;
}
.mynew-ul{
	
}
.mynew-clearsec{
	clear:both;
}
.mynew-image{
	height:250px;
	width:290px;
}